<div class ="form">
<%= simple_form_for :user, url: users_path, method: "POST", html: { class: 'form-inline' } do |f| %>
  <%= f.input :name %>   
  <br>
  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>
<br>
<%= link_to "Cancel", users_path, :class => 'btn btn-primary' %>
</div>
